/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink;
  color: red
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */



/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fynqng');
  src:  url('../fonts/icomoon.eot?fynqng#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fynqng') format('truetype'),
    url('../fonts/icomoon.woff?fynqng') format('woff'),
    url('../fonts/icomoon.svg?fynqng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*selector -aplica a clases que inicien con "icon-" o finalicen " icon-" */
/*ej "icon-menu" o "button icon-menu" */
[class^="icon-"], [class*=" icon-"] {  
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
}


.portfolio {
  background: #fafafa;
  padding: 20px;
  /* background: red; */
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project1 {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}
/* .project-date {
  margin: 10px 0;
} */

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}


.project-details {
  /* width: 500px; */
  width: 50%;
}

.project-imageContainer {
  /* width: 500px; */
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;   
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}
.menu {
  height: inherit;  
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
  z-index: 0;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;  
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../twitter.svg');
}
.social-link.facebook {
  background-image: url('../facebook.svg');
}
.social-link.github {
  background-image: url('github.svg');
}
.social-link.instagram {
  background-image: url('instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px; 
  flex: 1;          /* Le decimos “toma todo el ancho disponible en el elemento */ 
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.html-video{
  width: 100%;
  height: auto;
}

.youtube-video{
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;  /* No le quede duda de tomar todo el tamaño */
  height: 100%; /* No le quede duda de tomar todo el tamaño */
  
}
.flexible-video{
  width: 100%;
  height: 0;           /* Se deja el alto en "0", el alto se define en el padding */ 
  padding-top:56.25%;  /* truco de CSS, aca es donde configuramos el % de relación 16/9 */
  background: blue;
  position: relative; /*La caja debe tener un tamaño absoluto,por lo cual lo posicionamos como relativo */
                      /* esta caja contiene a youtube-video*/
}

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;  /* 50% con respecto al width definido de 40px previamente */ 
  background-color:rgba(0, 0, 0, 0.8);/* red,green,blue,opacidad - tres primeros varian de 1-255, opacidad varia de 0 a 1 */
  display: none;  /* Cambiamos para que tome el ancho y alto definido */
  /* display:flex;
  align-items: center;
  justify-content: center; */
  line-height: 40px;  /* Opción para centrar, tamaño igual al alto del elemento */
  text-align: center;
  position: fixed;
  z-index: 4;  /* Se posicione por encima de los otros elementos del sitio web */
  left: 5px;
  top: 5px; 
  color: white;

}

/* Desktop first, empezar desde el MQ más grande */

@media screen and (max-width:1023px) {/* 1023px por que IPAD girado alcanza los 1024px*/
  .event-list-title{
    margin-left: 0;
  }
  .portfolio{
    padding: 0;
  }
  .container{
    padding: 0 1em;/* Separar del borde */
  }
  .hero{
    height: auto;
    position: relative; /*definir para que la posición absoluta de la imagen funcione */
                         /*y no ocupe hasta el tamaño del menu */
    overflow: hidden;  /* Hacer que el desborde de la imagen en el hero se oculte */ 
    padding: 2em;                     
  }                     

  .hero img{
    position: absolute;
    z-index: 1;  /* definir el orden cuando se supersone, para este caso este es el fondo */
    left: 0;   /* Hacer que la imagen se estire en todas sus direciones */
    right: 0;  /* Hacer que la imagen se estire en todas sus direciones */
    top: 0;    /* Hacer que la imagen se estire en todas sus direciones */
    bottom: 0; /* Hacer que la imagen se estire en todas sus direciones */
    width: 100%;  /* Hacer que la imagen se estire en todas sus direciones */
  }
  h1{
    font-size: 2em;
    z-index: 2;  /* definir el orden cuando se supersone, para este caso este va sobre la imagen */
  }

}

@media screen and (max-width:767px) {

  h2{
    font-size:1.2em;
    margin: 0.5em 0;
  }
  .burger-button{
    display: block;
  }
  
  .header{
    display: block;
    height: auto;
  }
  .header ol{
    display: block;
  }
  .header ol li{
    height:50px; 
  }
  .header a{
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .header .logo {
    text-align: center; 
  }
  .menu{
  position: fixed;  /*Para que nos persiga por toda la página*/
  background:rgb(5, 111, 255, 0.9);
  z-index: 3;
  top: 0;  /*Ubicar la caja del menú en la parte superior*/
  /*left: 0;*/ /*Ubicar la caja del menú en la parte izquierda*/
  left: -100vw; /* utilizamos el ancho de 100vw definido en width para ocultar el menú */
   width: 100vw;
  /* height: 100vh; */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  }
  .menu.is-active{  /*clase para que el menu aparezca*/
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center; 
  }
  .project-details{
    width: auto;
    font-size: 16px;     
  }

  .project-course, .project-date, .project-url{
  margin: 0.3em;
  }

  .project-title{
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-course{
    font-size: 0.7em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-description{
    font-size: 1em;
  }
  .event {
    width: auto;
    flex-shrink: initial;  /* Con el fin de quitar el scroll horizontal */
  }
  .event img {    /* Se aplica el estilo directamente en la etiqueta dado que en ella definimos*/
    width: 100%;  /*  un tamaño de 500px previamente en el código html*/
  }               
}


@media screen and (max-width:480px) {
  h1{
    font-size: 1.5em;
  }
  .project-details{
    font-size: 14px; 
  }
  .event-detail {
    /* margin: -40px 10px 10px 10px; */
    /* 1em = 16px (por defecto, dado que no predefinimos el font-size: ) */
    margin: -2em 0.5em 0.5em ;
    padding: 1em;
    }
  
   .contact{
     height: auto;    /* Ajustamos el ancho para que los elementos no se apilen */
     padding: 1em 0;  /* espacio arriba y abajo */
     display: block;  /* resetea vista de flex para centrar elementos */  
     text-align: center; /* Centrar elementos */  
   }
   
   .form-email button {
     margin: 1em auto;  /* Para centrar es necesario definirle un margen */ 
   }
   .form-email h3 {
     margin-top: 0;  /* quitarle margen al titulo, para que la imagen general tuviera el mismo espacio */ 
   }
   .footer{
     display: block;
     text-align: center;
     border: 1px solid transparent; /* Rellenar un margin y quitar es espacio en blanco */ 
   }

}

@media screen and (max-width:320px) {
  h1{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5)    
  }
  .hero{
    padding: 2em 1em;
  }
  .project-details{
    width: auto;
    font-size: 10px; 
  }
  .social-link{
    width: 40px;
    height: 40px;
    /* background-size: x y; */
    background-size: 100%; /* Si queremos que tomen el mismo tamaña que ya esta definido en width y heigth */
  }
}
